      .head-text {
        width: 100%;
        height: 44px;
        gap: 24px;
        background-color: rgba(245, 245, 247, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .head-dood-text {
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 52px;
        margin-top: 16px;
        margin-bottom: 16px;
        gap: 4px;
      }
      .iphone-16-pro {
        width: 100%;
        height: 692px;
        background-image: url(iphone\ 16pro.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .iPhone-16 {
        margin-top: 10px;
        width: 100%;
        height: 692px;
        background-image: url(iphone\ 16.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .apple-gift {
        margin-top: 10px;
        padding-top: 406px;
        width: 100%;
        height: 692px;
        background-image: url(apple\ gift.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      
      .all-box {
        display: flex;
        width: 100%;
        height: 1764px;
        flex-wrap: wrap;
        gap: 10px;
        
      }
      @media (max-width:600px){
        .all-box{
            flex-direction: column;
        }
         .iphone-16-pro{
            width: 100%;
        } .iPhone-16{
            width: 100%;
        } .apple-gift{
            width: 100%;
        } 
        .iPad-air{
            width: 100%;
        }
         .Airpods-pro2{
            width: 100%;
        }
         .Watch{
            width: 100%;
        }
         .Macbook-air{
            width: 100%;
        }
         .Trade-in{
            width: 100%;
        }
         .card{
            width: 100%;
        }
      }
      .iPad-air {
        background-image: url(ipad.png);
         height: 580px;
         width: calc(50% - 6px) ;
         background-size: cover;
         background-position: center;
      }
      .Airpods-pro2 {
        background-image: url(airpods\ pro2\ .png);
        height: 580px;
        width: calc(50% - 6px) ;
        background-size: cover;
        background-position: center;
      }
      .airpods-text {
        
        margin-left: 352px;
        color: #f5f5f7;
      }
      .Watch {
        background-image: url(whatc.png);
        height: 580px;
        width: calc(50% - 6px) ;
        background-size: cover;
        background-position: center;
      }
      .Macbook-air {
        background-image: url(macbook.png);
        height: 580px;
        width:calc(50% - 6px) ;
        background-size: cover;
        background-position: center;
      }
      .Trade-in {
        background-image: url(trade\ in.png);
        height: 580px;
        width: calc(50% - 6px) ;
        background-size: cover;
        background-position: center;
      }
      .card {
        background-image: url(card.png);
        height: 580px;
        width: calc(50% - 6px) ;
        background-size: cover;
        background-position: center;
      }
      