body {
  font-family: inter;
  background-color: rgba(245, 245, 247, 1);
  width: 100%;
}
.head-text {
  width: 100%;
  height: 44px;
  gap: 24px;
  background-color: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
}
.menu {
  display: flex;
  gap: 24px;
}
.menu a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 9px;
  line-height: 60px;
}
.apple-logo {
  display: flex;
  align-items: center;
}
.menu a {
  color: #000000;
  text-decoration: none;
}
.shop-search {
  display: flex;
  gap: 12px;
}
.color-head {
  background-color: white;
  width: 100%;
}
.color-head-text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
}
.store-box {
  width: 100%;
  margin-top: 122px;
  height: 100px;
  padding-left: 140px;
  scroll-padding-right: 140px;
  display: flex;
  gap: 759px;
}
.store-box-text {
  display: flex;
  gap: 32px;
  font-size: 44px;
  font-weight: 700;
  font-size: 44px;
  color: #6e6e73;
  width: 655px;
}
.store-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
}
.need-shop {
  gap: 16px;
  height: 100px;
  width: 226px;
  display: flex;
  flex-wrap: wrap;
}
.need-shoping {
  width: 160px;
  gap: 16px;
}
.Vision-an {
  width: 160px;
  padding-left: 51px;
  gap: 16px;
}
.apple-photos {
  display: flex;
  gap: 30px;
  margin-top: 122px;
  margin-left: 140px;
}
.Mac-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.iPhone-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.iPad-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Apple-Watch-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Apple-Vision-Pro-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Airpods-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.AirTag-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Apple-TV-4K {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Homepod-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Accessories-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Apple-Gift-Card-photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.the {
  margin-top: 122px;
  height: 50px;
  padding-left: 140px;
  scroll-padding-right: 140px;
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.the-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
}
.let-the {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6e6e73;
  width: 655px;
}
.apple-product {
  width: 1750px;
  display: flex;
  gap: 20px;
  padding-top: 24px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 140px;
}
.pro {
  border-radius: 18px;
}
.pro-photo {
  background-image: url(16pro.png);
  width: 480px;
  height: 500px;
  border-radius: 18px;
}
.Pro-text {
  gap: 20px;
}
.APPLE-INTELLIGENCE {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding-top: 32px;
  padding-left: 32px;
}
.iphone- {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding-left: 30px;
}
.From- {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 30px;
}
.watch- {
  background-image: url(apple\ watch.png);
  width: 480px;
  height: 500px;
  border-radius: 18px;
}
.Series {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding-top: 54px;
  padding-left: 30px;
}
.text-watch-- {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 30px;
}
.ipad- {
  background-image: url(apple\ ipad.png);
  width: 480px;
  height: 500px;
  border-radius: 18px;
}
.ipad-text1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding-top: 31px;
  padding-left: 30px;
}
.ipad-text2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding-left: 30px;
}
.ipad-text3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 30px;
}
.macbook- {
  background-image: url(macbook.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 18px;
}
.macbook-text-1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding-top: 31px;
  padding-left: 30px;
}
.macbook-text-2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding-left: 30px;
}
.macbook-text-3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 30px;
}
.personal {
  margin-top: 60px;
  height: 50px;
  padding-left: 140px;
  scroll-padding-right: 140px;
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.Personalization-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
}
.let-them {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6e6e73;
  width: 655px;
}
.Airpods_ {
  width: 1750px;
  gap: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 140px;
}
.make-their-gift {
  width: 400px;
  height: 500px;
  background-repeat: no-repeat;
  border-radius: 18px;
  flex-shrink: 0;
  position: relative;
}
.Airpods_text-1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  width: 197px;
  height: 66px;
  padding-top: 53px;
  padding-left: 30px;
  position: absolute;
}
.position-absolute {
  position: absolute;
}
.Airpods-max {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
  flex-shrink: 0;
}
.Airpods-max-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.airpods-max-text {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 40px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.Airpods-max-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.Airpods-max-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.Airpods-pro {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
  flex-shrink: 0;
}
.Airpods-pro-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.airpods-pro-text {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.Airpods-pro-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.Airpods-pro-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.Airpods-pro4 {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
  flex-shrink: 0;
}
.Airpods-pro4-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.airpods-pro4-text1 {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.airpods-pro4-text {
  padding-top: 58px;
  padding-left: 50px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.Airpods-pro4-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.Airpods-pro4-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.penchil-pro {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
  flex-shrink: 0;
}
.penchil-pro-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.penchil-pro-text {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  margin-right: 100px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.penchil-pro-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.penchil-pro-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.penchil-pro4 {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
  flex-shrink: 0;
}
.penchil-pro4-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.penchil-pro4-text {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.penchil-pro4-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.penchil-pro4-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.Airpods-pro {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
}
.Airpods-pro-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.airpods-pro-text {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.Airpods-pro-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.Airpods-pro-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.Airpods-pro4 {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
}
.Airpods-pro4-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.airpods-pro4-text1 {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.airpods-pro4-text {
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.Airpods-pro4-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.Airpods-pro4-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.penchil-pro {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
}
.penchil-pro-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.penchil-pro-text {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.penchil-pro-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.penchil-pro-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.penchil-pro4 {
  width: 313px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 18px;
}
.penchil-pro4-text0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.penchil-pro4-text {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  padding-top: 58px;
}
.Free-Engraving {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.penchil-pro4-text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.penchil-pro4-text3 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 48px;
}
.dollor79{
  padding-top: 6px;
}
.bag{
  width: 480px;
  height: 500px;
  border-radius: 18px;
}